body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
    margin:0;
}


.ChessBoard{
    display: grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: repeat(8,100px);
    border: 5px solid #333;
    width: 800px;
    height: 800px;
}


.square{
    width: 100px;
    height: 100px;
}

.white {
    background-color: #f0d9b5;  
}

.black {
    background-color: #b58863;
}