/* body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #111;
    color: #f1f1f1;
} */

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #111;
    color: #f1f1f1;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #111;
    color: #f1f1f1;
}

.tab .name {
    font-size: 15px;
}

.tab .time {
    font-size: 25px;
}

.time {
    border: 2px solid #a08e8e;
    padding-left: 50px;
    padding-right: 10px;
}

.person {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.person img {
    filter: brightness(0) invert(1);
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 30px;
    margin: 5px;
}

/* RIGHT WINDOW TAB */
.moves-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 770px;
    margin-left: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    /* padding: 1rem; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* border: 2px solid white; */
}

.special-tabs {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    background-color: #28a745;
    height: 80px;
}

.new-game {
    background-color: #218838;

}

.show-players {
    background-color: #28a745;

}

.options-startgame button {
    background-color: #28a745;

}

.special-tabs button,
.options-startgame button {
    padding: 0.75rem 1rem;
    color: white;
    font-size: 1rem;
    border: none;
    /* border-radius: 6px; */
    cursor: pointer;
    flex: 1;
    transition: all 0.3s ease;
}

.special-tabs button:hover,
.options-startgame button:hover {
    background-color: #218838;
    transform: translateY(-2px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.options-startgame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    position: relative;
}

.options-startgame h1 {
    font-size: 1.2rem;
    color: #ddd;
    margin-bottom: 0.5rem;
    padding: 20px;
    border: 2px solid white;
    width: 200px;
    text-align: center;
    border-radius: 6px;
    color: white;
}

.footer-window {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #444;
    padding-top: 1rem;
    font-size: 0.9rem;
    color: #ccc;
}

.footer-window h1 span {
    color: #28a745;
    font-weight: bold;
}

.footer-window h1 {
    padding: 12px;
}

.users {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: #f2f2f2;
    flex-direction: column;
}

/* SEARCHING OPTION */
.users-table,
.user {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    border: 1px solid #aaa;
    text-align: center;
    align-items: center;
}

.search-players {
    margin: 10px;
}

.users-table {
    font-weight: bold;
    background-color: #222;
    border: none;
    color: #f1f1f1;
}

.user:hover {
    cursor: pointer;
}

.user {
    margin-top: 10px;
    background-color: #1c1c1c;
    border: 1px solid #444;
    border-radius: 4px;
    color: #f1f1f1;
}

.field {
    padding: 5px;
    color: #f1f1f1;

}


.play-user input[type="text"] {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #444;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    color: #f1f1f1;
}

.user-tags {
    height: 350px;
    overflow-y: auto;
}

/* SEARCH MODAL */

.search-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.search-modal {
    background-color: #1e1e1e;
    padding: 30px 50px;
    border-radius: 12px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 0 20px #28a745;
}

.hide {
    display: none;
}

.dots::after {
    content: "";
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots 1.2s steps(4, end) infinite;
}



@keyframes dots {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }

    100% {
        content: "";
    }
}


.stop-searching {
    background-color: #28a745;
    padding: 0.75rem 1rem;
    color: white;
    font-size: 1rem;
    border: none;
    /* border-radius: 6px; */
    cursor: pointer;
    flex: 1;
    transition: all 0.3s ease;
}

.stop-searching:hover {
    background-color: #218838;
    transform: translateY(-2px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}



/* RESIGN MODAL */


.resign-Tab-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.resign-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 30px 50px;
    border-radius: 12px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 0 20px #28a745;
}

.buttons-resign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.hide-resign {
    display: none;
}


.yes-resign ,.no-resign {
    background-color: #28a745;
    padding: 0.75rem 1rem;
    color: white;
    font-size: 1rem;
    border: none;
    /* border-radius: 6px; */
    cursor: pointer;
    flex: 1;
    transition: all 0.3s ease;
}

.yes-resign:hover ,.no-resign:hover{
    background-color: #218838;
    transform: translateY(-2px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


/* MOVE LOG */

.game-started-moves{
    position: absolute;
    top: 5px;
    right: 100px;
    width: 250px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px #28a745;
    color: #fff;
    font-family: monospace;
    z-index: 1000;

}

.game-started-moves h1{
    font-size: 1rem;
    margin: 8px 0;
    white-space: pre;
}

.resign-butt {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.resign-butt:hover{
    background-color: #c82333;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 8px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* PAWN SELECTION */


.pawnSelection {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    padding: 30px 40px;
    text-align: center;
    z-index: 999;
    max-width: 400px;
    width: 90%;
}

.pawnSelection h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Segoe UI',Tahoma, Geneva, Verdana, sans-serif;

}

.figures-restore{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

}

.figures-restore img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.figures-restore img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #666;
}
.hide-pawnSelection{
    display: none;
}

/* ALERT MODAL */


.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0,0.85);
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
    pointer-events: none;
}

.modal.show{
    opacity: 1;
}