*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #181828;
   color: #333;
}

.player-card{
    /* width: 500px;
    height: 500px; */
    width: 600px;
    background-color: lightblue;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.player-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4ade80;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.2);
}


.player-name{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    
}

.rank-wrapper{
    background: #ffffff;
    border: 3px solid gray;
    border-radius: 50%;
    padding: 12px 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
    display: inline-block;
    font-weight: bold;
    color: #1e1e3f;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #4ade80;
    font-family:'Segoe UI', sans-serif ;
    transition: transform 0.2s ease;

}
.rank-wrapper:hover{
    transform: scale(1.05);
}


.player-desc{
    font-size: 0.9rem;
    color: #aaa;
}

.status{
    margin-top: 10%;
    padding: 6px 12px;
    border-radius: 20px;
    background-color: #4ade80;
    color: #1f2937;
    font-weight: bold;
    display: inline-block;
}

.status.offline{
    background-color: #f87171;
    color: #fff;
}


.choose-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    transition: 0.2s;
}

.choose-bt:hover {
    background-color: #eee;
}


.settings-container{
    display: flex;
    max-width: 1200px;
    margin: 60px auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 30px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 500;
}

.sidebar .active {
    font-weight: bold;

}

.profile-section{
    flex: 1;
    background-color: #f4faff;
    padding: 40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px ;
}

.profile-section h2 {
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn{
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn.primary {
    background-color: #1e1e3f;
    color: #fff;
}

.btn.secondary {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #333;
}

.profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-row {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-weight: 500;
}

input,textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.form-group.full-width{
    grid-column: span 2;
}

.update-button-wrapper{
    margin-top: 30px;
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
}

.btn.update{
    background-color: #4ade80;
    color: #1f2937;
    padding: 12px 24px;
    font-size: 16px;
}

.password-change-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid wheat;
    padding: 20px;
}