<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-brand">
            <h2>Chess.com</h2>
            <p>Making cool stuff since 2004</p>
        </div>

        <div class="footer-links">
            <h3>Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="footer-social">
            <h3>Follow us</h3>
            <a href=""><i class="fab fa-twitter"></i>Twitter</a>
            <a href=""><i class="fab fa-github"></i> Github</a>
        </div>
    </div>

    <div class="footer-bottom">2025 Chess.com. All rights reserved</div>

</footer>