<div class="logo">☑ChessHub</div>
<nav>
    <a href="" id="nav-play">Play</a>
    <a href="" id="nav-puzzles">Puzzles</a>
    <a href="" id="nav-learn">Learn</a>

    <!-- Logged-in user menu -->
    <div id="user-menu" style="display: none;" class="user-dropdown">
        <div class="dropbtn">
            <img src="" alt="User" class="user-image" id="user-image">
            <h1 id="user-name">Username</h1>
        </div>
        <div class="dropdown-content">
            <a href="" class="profile">Profile</a>
            <a href="" class="home">Home</a>
            <a href="" id="logout-btn">Logout</a>
        </div>
    </div>

    <!-- Logged-out options -->
    <div id="guest-menu" style="display: none;">
        <a href="" id="nav-login">Login</a>
        <button class="signup-btn">Sign Up</button>
    </div>
</nav>
