<div class="player-popup" id="playerPopup">
    <div class="popup-header">
        <img src="" class="popup-avatar" alt="">
        <div class="popup-info">
            <span class="popup-title">
                <span class="popup-title-tag">GM</span>Magnus no<span class="popup-diamong">❤</span>
            </span>
            <div class="popup-name">Magnus</div>
            <div class="popup-meta">
                some meta info
            </div>
            <span class="popup-rank">Grandmaster</span>
        </div>

    </div>
    <div class="popup-actions">
        <button class="popup-btn dots">...</button>
        <button class="popup-btn pop-upAddFiend">Add Friend</button>
        <button class="popup-btn challange">Challange</button>
    </div>
</div>